.generator-card{
  border-radius: 5px;
  overflow: hidden;
  border:1px solid #d7e2ee;
  text-decoration: none;
  position: relative;
  background-color: #fff;
}

.generator-card__delete{
  color:#fff;
  position: absolute;
  top:2px;
  right:2px;
  display: none;
}
.generator-card:hover .generator-card__delete{
  display: block;
  opacity: 0.7;

}
.generator-card:hover .generator-card__delete:hover{opacity: 1;}

.generator-card__image{
  background-color: #bad5ef;
}

.generator-card__title{
  padding: 20px;
  color:initial;
  font-size: 18px;
}

.new-generator-card{
  border-radius: 5px;
  overflow: hidden;
  border:1px solid #d7e2ee;
  text-decoration: none;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.new-generator-card__body{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:100px;
}
.new-generator-card__footer{
  height:90px;
  text-align: center;
  padding:0 1em;
}