.doc-header{
  height:100px;
  background: var(--primary-dark);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.doc-header__inner{
  display: flex;
  padding:0 3rem;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.doc-header__mobile{
  display:none;
}

.logo-title{
  display: flex;
  align-items: center;
  height: 100%;
}
.logo-title__title{
  font-size:38px;
  margin-left:20px;
  color:#EDE7C9;
}
@media (max-width:900px){
  .doc-header{
    height: 150px;
  }
  .logo-title__title{
    display:none;
  }
  .doc-header__inner{
    padding:0 1rem;
  }
  .doc-header__mobile{
    display:block;
    font-size: 32px;
    margin-left:1rem;
    color:#EDE7C9;
  }
}
@media (max-width:400px){
  .doc-header__mobile{
    
    font-size: 26px;}
}


/*************
  Sidebar layout
**************/

.doc-sidebar-layout{
  display: flex;
}
.doc-sidebar-layout__sidebar{
  border-right: 1px solid var(--grey-light);
  width: 230px;
  padding-top:80px;
  padding-bottom:80px;
  padding-right:25px;
}
.doc-sidebar-layout__body{
  padding-top:80px;
  padding-left: 100px;
}

@media (max-width: 992px){
  .doc-sidebar-layout__body{
    padding-left: 50px;
  }
}
@media (max-width:600px){
  .doc-sidebar-layout{display: block;}
  .doc-sidebar-layout__sidebar{
    border-right: 0;
    width:100%;
    padding-right: 0;
    padding-top:20px;
    padding-bottom:0px;
  }
  .doc-sidebar-layout__body{
    padding-left: 0;
    padding-top:50px;
  }
}


/*************
  Left menu
****************/

.doc-left-menu__item{
  border-bottom: 1px dashed var(--grey-lightest);
}

.doc-left-menu__item > a{
  display: block;
  color:var(--primary-dark);
  text-decoration: none;
  font-size: 1.3em;
  padding: 0.5rem 1rem 0.5rem 0;
}
.doc-left-menu__item--active > a{
  font-weight: bold;
}

.doc-left-submenu{
  margin-bottom:1em;
}
.doc-left-submenu__item{
  padding: 0 0 0.2em 1.2em;
  
}
.doc-left-submenu__item > a{
  color:var(--primary-dark);
  text-decoration: none;
  font-size: 1.1em;
}
.doc-left-submenu__item--active > a{
  
  font-weight: bold;
}
.doc-left-menu--mobile{display:none}

@media (max-width: 992px){
  .doc-left-menu__item > a{
    font-size:1rem;
  }
  .doc-left-submenu__item > a{
    font-size: 0.8em;
  }
}
@media (max-width:600px){
  .doc-left-menu{display:none}
  .doc-left-menu--mobile{display:block}
  .doc-left-menu--mobile select{width:100%;font-size: 1em;}
}

