.form input{
  width:100%;
  padding:10px 15px;
  border: 1px solid #d7e2ee;
  font-size:20px;
  border-radius: 3px;
  outline: none;
}
.form input:focus{
  border-color: #7791F9;
}

.form label{
  font-size:14px;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  
  color:#788390;
  display: flex;
  justify-content: space-between;
}

.form .form__field{
  margin-bottom:30px;
}


.label-aside{
  font-size: 0.8em;
  text-transform: none;
}
.label-aside a{
  text-decoration: none;
}