html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height:1.5;
  font-size:20px;
  color:var(--text-color);
}


* {
  box-sizing: border-box;
}

a{
  color:var(--primary-dark);
}

img{
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6{
  margin-top:0;
  font-weight: normal;
}

pre{overflow-x:auto}

blockquote{
  margin:0;
  padding:0.05em 0 0.05em 1.3em;
  border-left:2px solid var(--grey);
  font-style: italic;
}

@import './variables.css';
@import './doc-theme.css';
@import './flex.css';
@import './container.css';
@import './top-nav.css';
@import './grid.css';
@import './cards.css';
@import './buttons.css';
@import './home.css';
@import './footer.css';
@import './layout-media.css';
@import './responsive-video.css';
@import './modal.css';
@import './form.css';
@import './logged-in-status.css';


