:root {
  --primary: #8F69FF;
  --primary-dark: #36295F;
  --primary-light: #E3DCF6;
  --secondary: #A9A570;
  --accent: #F78110;
  --black: #232323;
  --grey:#818183; 
  --grey-dark:#4c4c50; 
  --grey-light:#D4D4D4; 
  --grey-lightest:#E7E6EE; 
}